<div class="teaser__full-width">
  <img class="image__actual-size" alt="alt text" title="title text" src="https://baconmockup.com/800/500">
  <div class="teaser-text">
    <h2 class="teaser-title">What we do</h2>
    <p>We’re strongly committed to putting design first, taking a mobile-first, content-out approach to creating websites. This ensures that the sites we build and combine the power of Drupal with best practice design and development.</p>
    <a href="#" class="button">Our Latest Work</a>
  </div>
</div>
